*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.outer_container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    flex-direction: column;
}

.form{
    margin: 10px;
    width: 312px;
    font-size: 18px;    
}

.outer_form{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.input{
    width: 100%;
    font-size: 18px;
    border: 1px solid black;
}

.btn{
    width: 80%;
    height: 25px;
    background-color: rgb(153, 179, 201);
    border: 0;
    border-radius: 5px;
    padding: 5px;
    font-size: 16px;
}